body {    
  font-family: sans-serif;   
  color: #000000;   
  background-color: #FFFFFF; 
  margin: 0;
  padding: 0;
}

h1 { 
  color: #FFFFFF;
  background-color: #326B30;
}
h2,h3,h4 { 
  text-align: left;
}

h2 { 
  color: #00506E;
}

a { 
  color: #00506E;
 }

p { 
  text-align: justify;
  line-height: 120%;
}

table { 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

th { 
  text-align: center;
  background-color: #00506E;
  color: #FFFFFF;
  padding: 0.8em;
  font-size: 80%;
}

td { 
  text-align: left;
  background-color: #DDDDDD;
  color: #444444;
  padding: 0.2em;
  font-size: 80%;
}

td.center { 
  text-align: center;
}


td input[type="text"]  { 
  width: 95%;
}


#header { 
  border: 0;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  background-color: #00506E;
  background-position: right top;
  text-align:left;
  color: white;
  font-size:80%;
}

#header a {
  color: white;
  text-decoration: none;
}

#main {
  padding: 0px;
  margin-left: 20px;
  border-left: 1px;
  margin-right: 20px;
  margin-bottom: 10px; 
}

#footer {
  border-top: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #00506E;
  clear: both;
}

#footer p {
  color: white;
  font-size: 85%;
  border: 0;
  margin: 0;
  padding: 0.2em;
  padding-left: 2em;
}

#footer a { 
  color: white;
}

.center { 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 }

p.warning { 

  color: red;
  font-size: 120%;
  text-align: center;
 }


textarea {
  padding: 0;
  margin: 0;
  width: 97%;
  overflow: auto;
}
