Content-type: text/html

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
  <head>
    <title>Compter Sequence Composition Analysis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link href="css/compter.css" rel="stylesheet" type="text/css">
    <!-- TMPL_IF NAME=RUNNING -->
    <meta http-equiv="refresh" content="5">
    <!-- /TMPL_IF -->
  </head>
  <body>
    <div id="header"><a href="<!-- TMPL_VAR NAME=BASE_URL -->"><img src="images/compter_logo.png" title="Compter Sequence Composition Analysis" alt="Compter Sequence Composition Analysis"></a><br><a href="http://www.bioinformatics.babraham.ac.uk/projects/compter/">&nbsp;&nbsp;www.bioinformatics.babraham.ac.uk/projects/compter/</a></div>
