<!-- TMPL_INCLUDE NAME="header.html" -->

    <div id="main">

      <h2 class="center">Oops - something went wrong</h2>

      <p class="warning"><!-- TMPL_VAR NAME=MESSAGE ESCAPE=HTML --></p>

      <p class="center">
	This problem is probably something you can try to fix by pressing 
	the back button on your browser and altering the options you set.
	If you can't make this work please let your compter administrator
	know (use the link in the footer).
      </p>

    </div>



<!-- TMPL_INCLUDE NAME="footer.html" -->
