<!-- TMPL_INCLUDE NAME="header.html" -->

    <div id="main">


      <h2>Submit a compter search</h2>

      <p>
	To run a search simply upload one or two fasta format
	nucleotide sequence files.  On this system each of
	these can have a maximum size of

	<!-- TMPL_VAR NAME=MAX_DATA_SIZE ESCAPE=HTML -->MB
      </p>

      <form method="POST" enctype="multipart/form-data" action="<!-- TMPL_VAR NAME=BASE_URL ESCAPE=HTML -->">

	<p>First Sequence FastQ file <input type="file" name="fastq1"></p>
	<p>Second Sequence FastQ file (optional) <input type="file" name="fastq2"></p>

	<p><input type="submit"></p>

      </form>




    </div>



<!-- TMPL_INCLUDE NAME="footer.html" -->
