<!-- TMPL_INCLUDE NAME="header.html" -->

    <div id="main">


      <h2>Submit a compter search</h2>

      <p>
	To run a search simply upload one or two fasta format
	nucleotide sequence files.  On this system each of
	these can have a maximum size of

	<!-- TMPL_VAR NAME=MAX_DATA_SIZE ESCAPE=HTML -->MB
      </p>

      <form method="POST" enctype="multipart/form-data" action="<!-- TMPL_VAR NAME=BASE_URL ESCAPE=HTML -->">

	<table>
	  <tr>
	    <th>First Sequence FastQ file</th>
	    <td colspan="2"><input type="file" name="fastq1"></td>
	  </tr>
	  <tr>
	    <th>Second Sequence FastQ file (optional)</th>
	    <td colspan="2"><input type="file" name="fastq2"></td>
	  </tr>
	  <tr>
	    <th rowspan="3">Background</th>
	    <td><input type="radio" name="background" value="none">None</td>
	    <td>[No options]</td>
	  </tr>
	  <tr>
	    <td><input type="radio" name="background" value="theoretical">Theoretical (%GC)</td>
	    <td><input type="text" name="percentgc" value="50"></td>
	  </tr>
	  <tr>
	    <td><input type="radio" name="background" value="precalc" checked>Pre-calculated</td>
	    <td>
	      <select name="precalc_species">
		<!-- TMPL_LOOP NAME=SPECIES -->
		<option><!-- TMPL_VAR NAME=SPECIES_NAME --></option>
		<!-- /TMPL_LOOP -->
	      </select>
	    </td>
	  </tr>
	</table>

	<p class="center"><input type="submit" value="Run compter"></p>

      </form>




    </div>



<!-- TMPL_INCLUDE NAME="footer.html" -->
